.lobby-chat {
    font-family: 'Consolas', monospace;
    font-size: 0.8em;
    line-height: 1.2;
    color: #ffffff;
}

.lobby-chat .player-info {
    font-weight: bold;
    color: #7289DA;
}

.lobby-chat .message {
    color: #dcddde;
}